form>.uk-button {
  margin-top: 1.6em;
}
tr .ajax-progress .throbber {
  position: relative;
  top: 5px;
  left: 5px
}
html.js input.form-autocomplete {
  background: none;
}
.api-navigation-nav {
  padding-left: 25px;
}
#autocomplete {
  border-color: #e5e5e5;
  border-top: 0;
}
#autocomplete li {
  color: #666;
  padding: 2px 10px;
}
#autocomplete li:focus,
#autocomplete li:hover {
  background-color: #28a5f5;
  color: rgba(255, 255, 255, 0.8);
}
form>[class*='form-type']:not(:first-child),
form>[class*='field-type']:not(:first-child),
form>[class*='form-actions']:not(:first-child) {
  margin-top: 20px
}
.form-actions .uk-button:not(:first-child) {
  margin-left: 4px
}
.block-api .description {
  float: right;
  padding-left: 10px;
}
.block-api [type="submit"] {
  margin-top: 6px;
}
.views-exposed-form .views-exposed-widget.views-submit-button {
  clear: both;
}
.page-forms-api-reference .no-blowout {
  max-width: none !important;
}
.page-forms-api-reference table[border="1"] {
  display: none;
}
.page-forms-api-reference div.codeblock {
  background-color: #f8f8f8;
  padding: 10px;
}
.page-forms-api-reference div.codeblock code {
  white-space: pre-wrap;
}

.tm-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto
}
.tm-sidebar-right {
  position: absolute;
  top: 0;
  left: calc(100% + 0px);
  width: 200px
}

@media (min-width: 960px) {
  .tm-sidebar-left+.tm-main {
    padding-left:240px
  }
}

@media (min-width: 1200px) {
  .tm-sidebar-right {
    left:calc(100% + 0px)
  }

  .tm-sidebar-left+.tm-main {
    padding-left: 40px
  }
}

@media (min-width: 1400px) {
  .tm-sidebar-left {
    width:300px !important;
    padding: 45px 45px 60px 45px
  }

  .tm-sidebar-right {
    left: calc(100% + 60px)
  }

  .tm-sidebar-left+.tm-main {
    padding-left: 40px
  }
}

.tm-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to left, #28a5f5, #1e87f0)
}

.tm-navbar-container .uk-navbar-nav>li>a,.tm-navbar-container .uk-navbar-item:not(.uk-logo),.tm-navbar-container .uk-navbar-toggle {
  height: 70px;
  font-size: 13px
}

.tm-navbar-container .uk-navbar-nav>li>a {
  position: relative
}

.tm-navbar-container .uk-navbar-nav>li>a::before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  right: calc(102% - 15px);
  bottom: 20px;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transition-property: right;
  transition-property: right
}

.tm-navbar-container .uk-navbar-nav>li>a:hover::before {
  right: 15px
}

.tm-nav>li.uk-active>a {
  position: relative
}

.tm-nav>li.uk-active>a:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -25px;
  width: 15px;
  border-top: 1px solid #1e87f0
}

.tm-nav .uk-nav-header {
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5
}

@media (min-width: 960px) {
  .tm-subnav {
    margin-left:-50px
  }

  .tm-subnav>* {
    padding-left: 50px
  }
}

.tm-subnav>*>:first-child {
  text-transform: capitalize
}

.tm-width-small {
  width: 80px
}

.tm-button-default,.tm-button-primary {
  border-radius: 500px
}

.tm-button-large {
  line-height: 48px
}

.tm-section-primary {
  background: linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat
}

.tm-section-texture {
  background: url("../images/section-background.svg") 50% 17vh no-repeat,linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat
}

.tm-section-intro {
  background: linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat,#fff;
  background-size: 100% 75%
}

.tm-h4,.tm-h5,.tm-h6 {
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999
}

.tm-h4 {
  font-size: 14px
}

.tm-h5 {
  font-size: 12px
}

.tm-h6 {
  font-size: 11px
}

.tm-text-large {
  font-size: 18px
}

.tm-box-shadow-medium {
  box-shadow: 2px 12px 35px rgba(0,0,0,0.1),0 1px 6px rgba(0,0,0,0.05)
}

.tm-box-shadow-large {
  box-shadow: -40px 40px 160px 0 rgba(0,0,0,0.08),-8px 8px 15px 0 rgba(120,120,120,0.04),3px 3px 30px 0 rgba(0,0,0,0.04)
}

.tm-box-shadow-modal {
  box-shadow: 3px 3px 40px 0 rgba(0,0,0,0.06)
}

.tm-overlay-default {
  background: rgba(255,255,255,0.5)
}

.tm-modal-dialog {
  background: #f8f8f8
}

.tm-modal-header {
  padding: 20px 30px
}

.tm-modal-body {
  padding: 0
}

@media (min-width: 640px) {
  .tm-modal-header {
    padding:25px 50px
  }

  .tm-modal-body {
    padding: 0 50px
  }
}

@media (min-width: 1600px) {
  .tm-modal-header {
    padding:50px 120px
  }

  .tm-modal-body {
    padding: 0 120px
  }
}

.tm-modal-close-full {
  background: transparent;
  padding: 30px
}

@media (min-width: 640px) {
  .tm-modal-close-full {
    padding:40px
  }
}

.tm-heading-fragment>a {
  color: inherit;
  text-decoration: none
}

@media (min-width: 640px) {
  h2.tm-heading-fragment>a {
    display:block;
    margin-left: -25px
  }

  h2.tm-heading-fragment>a:before {
    content: "#";
    width: 25px;
    float: left;
    color: #999
  }
}

.tm-main .uk-container {
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 640px) {
  .tm-main .uk-container {
    padding-left:30px;
    padding-right: 30px
  }
}

@media (min-width: 960px) {
  .tm-main .uk-container {
    padding-left:40px;
    padding-right: 40px
  }
}

@media (min-width: 1200px) {
  .tm-intro-text {
    margin-top:30px
  }
}

@media (min-width: 1600px) {
  .tm-intro-text {
    margin-top:90px
  }

  .tm-intro-image {
    margin-right: -75px
  }
}
#api-function-signature tr td,
#api-function-signature tr td a,
#api-function-signature tr td a:visited,
#api-function-signature tr td code {
  color: #9d9d93;
  font-size: 13px;
}
#api-function-signature tr td.signature,
#api-function-signature tr td.signature a,
#api-function-signature tr td.signature code {
  font-size: 15px;
}
#api-function-signature tr.active td,
#api-function-signature tr.active td a,
#api-function-signature tr.active td a:visited,
#api-function-signature tr.active td code {
  color: #f0506e;
}
#api-function-signature tr.active td.branch,
#api-function-signature tr.active td.branch a,
#api-function-signature tr.active td.branch a:visited,
#api-function-signature tr.active td.branch code {
  color: #000;
}
div.ctools-collapsible-content {
  margin-top: 10px;
  padding-left: 21px;
}
dl dt {
  font-size: 15px;
}
dl dt:not(:first-child) {
  margin-top: 6px;
}
dl dt small {
  font-size: 13px;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
.php .php-function-or-constant a.drupal-api {
  font-weight: bold;
}
.api-fragment-heading>a,
.api-subtitle-heading>a {
  color: inherit;
  text-decoration: none
}
h4.api-subtitle-heading>a {
  border-left: 2px solid #1e87f0;
  font-size: 18px;
  line-height: 18px;
  padding-left: 10px;
}
@media (min-width: 640px) {
  h3.api-fragment-heading>a {
    display:block;
    margin-left: -25px
  }
  h3.api-fragment-heading>a:before {
    content: "#";
    width: 25px;
    float: left;
    color: #999
  }
}
